In [1]:
import pandas as ps

## 1. Data collection

In [2]:
Data_set=ps.read_csv("insurance_pre.csv")
Data_set

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#The data set have a categorical data so we are using Nominal menthod which is converting string to number
Data=ps.get_dummies(Data_set,drop_first=True)

In [4]:
Data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
Data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

## 2. Input and Output split

In [6]:
#As per the request we need to predice the Charges that is out AI output other then that we took all as a Input in Dataset
Independent=Data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
Dependent=Data[['charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

## 3. Split the train & test Data

In [30]:
#We split our data using Sklearn packages and assigned the datas in variable the test data size was 30%
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent, Dependent, test_size=0.30, random_state=0)

In [31]:
#Standartion the Dataset why beacuse the different between the mix and min no was very hight so we are going use this Standartion
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [32]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

## 4. Model creation

In [33]:
from sklearn.svm import SVR
# In this line C mention the size for the border plain which is cover the Data point(vector)
#Kernel mention the which type to be used in the algorithm
re=SVR(kernel="rbf",C=3000)
re.fit(x_train,y_train)

C:\Users\smani\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000)

In [34]:
#it show number of support vectors for each class
re.n_support_

array([936])

In [35]:
y_pred=re.predict(x_test)
y_pred

array([10084.09257621,  8624.7729507 , 46884.58646869, 12831.80286543,
       10315.10041574,  4108.71756054,  2213.11004343, 11404.71458294,
        7192.75687047,  5105.2156205 ,  7111.22139197, 10281.05240919,
        7385.42516556,  4554.35877891, 22691.75241313, 11085.76935048,
       12489.53874166,  3063.84179016,  6513.23030101, 25069.82560611,
       24081.45525342, 12816.24712754, 10015.86849878, 28082.85079319,
        1723.51143501,  4007.47526115,  3993.04628724,  7731.08173135,
        4098.28682944,  8418.71974488,  7778.67124373, 44749.93885084,
       13252.93156978, 10544.50608648, 14303.56627735,  3873.77342573,
        8387.17497776, 39805.70975527, 36906.99909332,  2135.87142871,
        5518.63305385,  3234.84606561, 22669.50544228, 44432.39103681,
       33585.59932165,  3590.80892728, 11084.94356966,  6939.44898786,
        4061.31728473, 12160.34334209,  2358.30942963,  4024.06127488,
       28789.19162263, 39474.03096644, 12041.7718838 ,  2658.35234773,
        2276.87718916,  8818.02677984,  9272.36378651, 13063.74837808,
        1731.98743872, 33362.70557106, 14118.28479032,  9975.3930357 ,
       10266.27353361, 10105.94407479, 23967.46086378, 34401.67779183,
        3490.19017262,  7806.02347934, 13347.47697403, 11990.45615888,
       18885.20873415, 13917.28170478, 13021.72672915, 12978.81769805,
        7515.99956318,  8109.10414781, 21703.07050155, 43707.3674754 ,
       11473.45152769, 38638.35719686,  1834.10530134,  7760.18592676,
       41953.11681724, 19461.62475064,  3393.77318363,  2535.59554892,
       12765.78806232, 36618.22090745,  5749.37872229, 10610.80540962,
        2831.40629234,  8611.92060177,  4035.64248197,  4590.77617191,
       34816.87089655, 32086.30667055,  5032.42002722, 10889.44565608,
        1938.45383298,  5147.04002501,  4476.6213934 , 37040.68023461,
       27025.32744317,  3300.84878178, 10990.94982838,  3175.07509525,
       11738.11620282, 38001.62314486, 12493.48711974,  4507.33883976,
        8947.32717919, 26457.06260844, 44658.24365839,  7668.8804322 ,
        1989.07449004,  8818.02643673, 12667.58367202,  9457.03675167,
       40053.25971661, 10601.77197194, 14090.60591538,  4863.29467289,
        7641.18484105,  4839.27546031, 25535.47661579, 20022.76572531,
       41636.00499138,  1571.19247118,  8319.26233531,  1953.54239809,
        6019.27968413,  9185.28460243, 30428.05832345, 29493.31137445,
       21124.89371127, 10306.84034177, 22714.67844999,  2676.36580639,
        2209.55339894, 10614.3814259 ,  9444.16461721, 10206.71944443,
        4821.10280109, 14292.20429231, 13207.10717175,  3663.88854841,
        1609.31912811, 10838.49443724,  5976.16400337, 39232.32409444,
        9672.64946206,  2101.23701273,  2473.81807549,  6535.28483336,
        2482.3334122 ,  2113.88115962, 11085.64532673,  9991.86192107,
        4370.19122768, 13137.68396512, 12995.14908655,  9470.58468222,
        4434.77107734,  4533.47694205, 14140.12325121,  5529.76874134,
        4196.88379491,  2163.59706744,  3982.99997416,  4215.21844803,
        8026.36994288,  1936.18078135,  4331.33195447,  4625.8225369 ,
        4077.8483469 ,  5997.3483591 , 32122.62187393,  1695.63889569,
       11173.33978913,  6566.02514953, 11353.55801509,  2542.7996572 ,
        5488.14523941, 29223.60985947,  1862.03276176,  2702.14582814,
       14388.08735403, 10091.3796972 , 35990.50566169,  4171.14501518,
        5463.8645577 , 22980.49687034,  2099.00156836,  2309.14930283,
        6240.84214788,  5943.72484509,  4141.85838316,  4225.45129195,
       11255.86330361, 38479.30408671, 12391.3237143 , 20248.48974667,
        4395.97089109, 45851.16122652,  3581.60833782,  9448.13726826,
        5863.93445573,  2616.23848287,  8635.6694702 , 13693.99101057,
        4968.9190176 ,  2436.99324715,  6658.42387945,  2182.54637656,
        6369.05649234,  4743.41380915, 14390.72506967,  7243.91768085,
        6172.85842356,  7753.48996008,  8652.9784586 ,  2929.2179802 ,
       12211.75910849, 13991.07213987, 12747.99833383, 12264.76868203,
        7234.36448688,  2462.0791069 ,  1588.61473731,  7754.6423211 ,
       12558.35493748,  4866.05386295,  4502.7216582 ,  7172.90654239,
        8916.74083666, 26972.78559043,  5882.09532458, 11333.58295546,
        5749.93136447, 31547.02759136,  7458.00436854,  7182.00040475,
        8341.63912906, 10433.4233902 ,  3059.23126042,  7466.65222895,
        2504.07818816,  6608.30044229, 24965.05998535, 36793.28000208,
        4137.7227323 ,  3225.49618486,  2195.82532   ,  1594.51369801,
        7622.31529362,  1945.92376544,  4158.7347196 ,  3461.86602877,
        9453.12603238, 29043.40383653, 36764.32655567, 15113.73164618,
        6664.35184601, 11259.33331625, 36817.03499326,  9490.58087623,
       30868.45495081,  1327.96980429, 36722.77439803,  4810.58744263,
       12840.04321546,  3970.75931436, 40522.13299245,  5020.62557748,
        9848.93731395,  9955.44365963,  2186.52697721, 13513.92121689,
       12233.82522466,  4001.03315781, 12560.92409597,  2167.61880227,
        5478.82986468,  3879.16877554,  8924.56397346, 22989.51607749,
        3923.91767262,  1681.70485174,  2896.32141703, 43695.78416549,
        9083.87043025,  4353.10913805, 12409.03299807, 11648.82980511,
       27894.23488887,  6500.81126817,  5094.4153182 ,  8715.85318782,
        1628.22920947,  3127.09258486, 15416.50448529, 17773.13555298,
       13708.20633464,  2479.26583513,  3240.40764218,  9074.84068433,
        9458.28819791, 14032.49365887, 22408.89583449,  5989.25985052,
       14605.27417143,  2206.2791717 ,  5812.49216313,  4055.74453601,
        8440.9294164 ,  2764.95411244,  6623.34119831, 44455.91745238,
        3649.52740578,  3571.28935494,  2228.12488174,  8650.89686086,
        3339.27444757, 12331.04872008, 40059.22236007, 15772.59233617,
        9001.76799578, 45697.12464649, 13224.08474528,  4381.46465667,
        9728.70622993,  4088.49767448, 32164.3927275 ,  4597.80385229,
       13414.45921242,  2044.52910593, 16165.74337295,  3100.49645481,
       24976.45511634,  5929.93186218,  2197.45743426, 39305.48409827,
        5338.66542732,  5262.12164131, 31180.58407305,  1640.9216039 ,
        8445.50039618,  2950.02231264, 11756.02981481,  3352.36233944,
        5038.61294315,  4896.89481105, 39827.78574758,  8847.66647796,
       30235.34089722, 38846.8181688 ,  5881.08626294,  8606.98407099,
        1757.0427205 ,  3282.13383214,  3461.15831976,  8489.25990795,
       41708.18872015, 11350.99221094,  2246.33315903, 12114.94130943,
        2113.38558271,  7680.12549849,  3795.97293795,  2512.48385817,
        3204.02559017, 34714.97647275,  7207.97174551,  2231.10245726,
       43608.0838551 , 11168.52202795, 41511.6461906 , 11725.39029179,
        4205.27112617,  2090.51932736,  2328.28592461, 10412.21063231,
        5131.58469587,  2090.55082391, 10440.25148628,  7224.8400964 ,
        6348.55706077,  4165.15842765,  2665.96208734, 41800.1621246 ,
        1774.86443219,  9382.25669224,  1998.65168152,  7087.64382471,
       10898.45360005,  3184.39005822, 17660.18295866, 10536.85627238,
       14540.87615575, 13735.21746266])

## 5. Evalution metric

In [36]:
#check the score of the AI model
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [37]:
r_score

0.8663393953081686

## 6. Save best model

In [38]:
import pickle 
new_file="Final_model.sav"

In [39]:
pickle.dump(re,open("Final_model.sav",'wb'))

In [40]:
load=pickle.load(open("Final_model.sav",'rb'))
#We need to enter the value based on the Independent variable which is in input split
result=load.predict([[43,25.300,0,1,1]])

In [41]:
result

array([16589.18908958])