In [2]:
import pandas as pd
from K_PCA import kernel_pca
kp=kernel_pca()

In [3]:
data_set=pd.read_csv("Social_Network_Ads.csv")
data_set

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [12]:
#Data preprocessing for categorical data
Dataset=pd.get_dummies(data_set,drop_first=True)
Dataset.head(5)

    User ID   Age  EstimatedSalary  Purchased  Gender_Male
0  15624510  19.0          19000.0          0         True
1  15810944  35.0          20000.0          0         True
2  15668575  26.0          43000.0          0        False
3  15603246  27.0          57000.0          0        False
4  15804002  19.0          76000.0          0         True

In [13]:
#input and output split
Indep_x=Dataset.drop("Purchased",axis=1)
Depend_y=Dataset["Purchased"]

In [14]:
#Split the train and test data
x_train,x_test,y_train,y_test=kp.split_scaler(Indep_x,Depend_y)

In [15]:
#Give input and output to PCA, 3 no of cloumns accept 
x_train,x_test=kp.K_PCA_input(x_train,x_test,3)

In [16]:
#After the PCA we get the liear pattern data, PCA will extract the linear data, using that data we can perfor the Supervise --- Classification
acclog=[]
accsvml=[]
accknn=[]
accdes=[]
accrf=[]

In [17]:
classifier,Accuracy,report,x_test,y_test,cm=kp.Logistic(x_train,y_train,x_test,y_test)
acclog.append(Accuracy)

classifier,Accuracy,report,x_test,y_test,cm=kp.svm_linear(x_train,y_train,x_test,y_test)  
accsvml.append(Accuracy)

classifier,Accuracy,report,x_test,y_test,cm=kp.knn(x_train,y_train,x_test,y_test)  
accknn.append(Accuracy)

classifier,Accuracy,report,x_test,y_test,cm=kp.Decision(x_train,y_train,x_test,y_test)  
accdes.append(Accuracy)
    
classifier,Accuracy,report,x_test,y_test,cm=kp.random(x_train,y_train,x_test,y_test)  
accrf.append(Accuracy)

In [18]:
result=kp.K_PCA_Classification(acclog,accsvml,accknn,accdes,accrf)

In [19]:
result

     Logistic  SVMl  KNN  Decision Random
PCA  0.833333  0.85  0.9  0.858333  0.875

In [20]:
#KNN had best score