In [1]:
import pandas as pd

## 1.Data collection

In [2]:
Data=pd.read_csv("50_Startups.csv")
Data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
Data=pd.get_dummies(Data, drop_first=True)
Data

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0
5,131876.90,99814.71,362861.36,156991.12,0,1
6,134615.46,147198.87,127716.82,156122.51,0,0
7,130298.13,145530.06,323876.68,155752.60,1,0
8,120542.52,148718.95,311613.29,152211.77,0,1
9,123334.88,108679.17,304981.62,149759.96,0,0
10,101913.08,110594.11,229160.95,146121.95,1,0
11,100671.96,91790.61,249744.55,144259.40,0,0
12,93863.75,127320.38,249839.44,141585.52,1,0
13,91992.39,135495.07,252664.93,134307.35,0,0
14,119943.24,156547.42,256512.92,132602.65,1,0
15,114523.61,122616.84,261776.23,129917.04,0,1
16,78013.11,121597.55,264346.06,126992.93,0,0
17,94657.16,145077.58,282574.31,125370.37,0,1
18,91749.16,114175.79,294919.57,124266.90,1,0
19,86419.70,153514.11,0.00,122776.86,0,1
20,76253.86,113867.30,298664.47,118474.03,0,0
21,78389.47,153773.43,299737.29,111313.02,0,1
22,73994.56,122782.75,303319.26,110352.25,1,0
23,67532.53,105751.03,304768.73,108733.99,1,0
24,77044.01,99281.34,140574.81,108552.04,0,1
25,64664.71,139553.16,137962.62,107404.34,0,0
26,75328.87,144135.98,134050.07,105733.54,1,0
27,72107.60,127864.55,353183.81,105008.31,0,1
28,66051.52,182645.56,118148.20,103282.38,1,0
29,65605.48,153032.06,107138.38,101004.64,0,1
30,61994.48,115641.28,91131.24,99937.59,1,0
31,61136.38,152701.92,88218.23,97483.56,0,1
32,63408.86,129219.61,46085.25,97427.84,0,0
33,55493.95,103057.49,214634.81,96778.92,1,0
34,46426.07,157693.92,210797.67,96712.80,0,0
35,46014.02,85047.44,205517.64,96479.51,0,1
36,28663.76,127056.21,201126.82,90708.19,1,0
37,44069.95,51283.14,197029.42,89949.14,0,0
38,20229.59,65947.93,185265.10,81229.06,0,1
39,38558.51,82982.09,174999.30,81005.76,0,0
40,28754.33,118546.05,172795.67,78239.91,0,0
41,27892.92,84710.77,164470.71,77798.83,1,0
42,23640.93,96189.63,148001.11,71498.49,0,0
43,15505.73,127382.30,35534.17,69758.98,0,1
44,22177.74,154806.14,28334.72,65200.33,0,0
45,1000.23,124153.04,1903.93,64926.08,0,1
46,1315.46,115816.21,297114.46,49490.75,1,0
47,0.00,135426.92,0.00,42559.73,0,0
48,542.05,51743.15,0.00,35673.41,0,1
49,0.00,116983.80,45173.06,14681.40,0,0

In [4]:
Data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

## 2.Input and Output split

In [5]:
Independent=Data[['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida', 'State_New York']]
Independent

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

In [6]:
Dependent=Data[['Profit']]
Dependent

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

## 3. Split the train and test data

In [7]:
#Here we are using Gird Search CV (cross validation) so no need to use train and test split, Gird will do that all the method.

## 4. Model selection

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor

Kfold=KFold(n_splits=5,shuffle=True, random_state=42)

param_grid={'n_estimators': [10,30,50,100], 'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson']}

#We give refit true value so it will take the best model from the final resulr if it in false it will the final result which is the end of the result in this it will take n_estimators : 100 and criterion : poisson those value are in the end. 
grid=GridSearchCV(RandomForestRegressor(random_state=42), param_grid, cv=Kfold, refit=True, verbose=3, n_jobs=-1)

grid.fit(Independent, Dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

C:\Users\smani\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=KFold(n_splits=5, random_state=42, shuffle=True),
             estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'n_estimators': [10, 30, 50, 100]},
             verbose=3)

## 5.Evalutation Metric

In [9]:
#since we are using GridSearchCV so it will do Evalution the metric and give the best model

In [10]:
re=grid.cv_results_

# print the best parametar after tuning 
print("The Score value for the best model {}".format(grid.best_params_),"Score :",grid.best_score_)

The Score value for the best model {'criterion': 'absolute_error', 'n_estimators': 100} Score : 0.9308554382226152

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.032038,0.002579,0.005841,0.001216,squared_error,10,"{'criterion': 'squared_error', 'n_estimators':...",0.833146,0.972242,0.959925,0.951888,0.850743,0.913589,0.059118,15
1,0.073453,0.003845,0.008644,0.002036,squared_error,30,"{'criterion': 'squared_error', 'n_estimators':...",0.861172,0.961530,0.961959,0.941874,0.850474,0.915402,0.049300,13
2,0.113194,0.002179,0.010707,0.000907,squared_error,50,"{'criterion': 'squared_error', 'n_estimators':...",0.888557,0.949261,0.958925,0.945481,0.863314,0.921107,0.037990,9
3,0.206224,0.005242,0.015422,0.000804,squared_error,100,"{'criterion': 'squared_error', 'n_estimators':...",0.897520,0.957478,0.966654,0.956734,0.859437,0.927564,0.041995,3
4,0.029243,0.000806,0.005578,0.000786,absolute_error,10,"{'criterion': 'absolute_error', 'n_estimators'...",0.858142,0.954031,0.964368,0.955541,0.860479,0.918512,0.048473,12
5,0.078318,0.000979,0.007837,0.000102,absolute_error,30,"{'criterion': 'absolute_error', 'n_estimators'...",0.875845,0.962092,0.965011,0.942098,0.847622,0.918534,0.047882,11
6,0.128598,0.004582,0.009846,0.001278,absolute_error,50,"{'criterion': 'absolute_error', 'n_estimators'...",0.893784,0.956210,0.964847,0.947610,0.873597,0.927210,0.036511,5
7,0.249575,0.004923,0.015415,0.000803,absolute_error,100,"{'criterion': 'absolute_error', 'n_estimators'...",0.904955,0.960398,0.969743,0.955066,0.864115,0.930855,0.040240,1
8,0.027724,0.000123,0.005071,0.000970,friedman_mse,10,"{'criterion': 'friedman_mse', 'n_estimators': 10}",0.833191,0.979851,0.959710,0.945135,0.852549,0.914087,0.059500,14
9,0.078765,0.012997,0.007483,0.000864,friedman_mse,30,"{'criterion': 'friedman_mse', 'n_estimators': 30}",0.868024,0.964819,0.961746,0.942800,0.858078,0.919093,0.046482,10
10,0.119829,0.008486,0.010241,0.000784,friedman_mse,50,"{'criterion': 'friedman_mse', 'n_estimators': 50}",0.890095,0.951065,0.958937,0.946524,0.868562,0.923037,0.036548,7
11,0.230773,0.012708,0.016623,0.002727,friedman_mse,100,"{'criterion': 'friedman_mse', 'n_estimators': ...",0.897172,0.956070,0.969087,0.956768,0.860508,0.927921,0.041974,2
12,0.034798,0.012256,0.004718,0.000971,poisson,10,"{'criterion': 'poisson', 'n_estimators': 10}",0.810060,0.949155,0.948585,0.952188,0.834511,0.898900,0.063043,16
13,0.078961,0.008690,0.007483,0.000733,poisson,30,"{'criterion': 'poisson', 'n_estimators': 30}",0.892919,0.955360,0.961267,0.946906,0.853436,0.921977,0.042004,8
14,0.115771,0.005478,0.008710,0.002309,poisson,50,"{'criterion': 'poisson', 'n_estimators': 50}",0.902391,0.952510,0.966512,0.945762,0.864284,0.926292,0.037684,6
15,0.175004,0.025527,0.005518,0.004550,poisson,100,"{'criterion': 'poisson', 'n_estimators': 100}",0.898150,0.959540,0.969895,0.949542,0.860053,0.927436,0.041762,4

In [12]:
r_and_d=float(input("Enter the R&D value :"))
Admin=float(input("Enter the Admin value :"))
Mark=float(input("Enter the marketing spend value :"))
flo=int(input("State Florida yes enter 0, if no enter 1 :"))
new=int(input("State New York yes enter 0, if no enter 1 :"))

Enter the R&D value :12000
Enter the Admin value :15000
Enter the marketing spend value :18000
State Florida yes enter 0, if no enter 1 :0
State New York yes enter 0, if no enter 1 :1

In [13]:
result=grid.predict([[r_and_d,Admin,Mark,flo,new]])

C:\Users\smani\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [14]:
result

array([69207.27585])