In [1]:
import pandas as pd
from RFE_classification import RFE_Classification
RC=RFE_Classification()

In [2]:
data_set=pd.read_csv("prep.csv")
#check the sample data
data_set.head(10)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
5,6.0,60.000000,c,4.0,0.0,abnormal,abnormal,notpresent,present,94.000000,...,30.000000,16700.000000,4.800000,no,no,no,poor,poor,no,yes
6,7.0,50.000000,a,4.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.000000,6000.000000,4.705597,no,no,no,yes,poor,no,yes
7,8.0,60.000000,b,3.0,0.0,normal,normal,notpresent,notpresent,78.000000,...,41.000000,6700.000000,4.705597,no,no,no,poor,yes,no,yes
8,8.0,50.000000,a,4.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
9,8.0,76.459948,a,0.0,0.0,normal,normal,notpresent,notpresent,80.000000,...,38.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes

In [3]:
#check rows and columns 
data_set.shape

(399, 25)

In [4]:
data_set.isna().sum()
#No null values found

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [5]:
#data preprocessing
dataset=pd.get_dummies(data_set,drop_first=True)
dataset.head(5)

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.0,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.0,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.0,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.0,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True

In [6]:
#input and output split
inde_x=dataset.drop("classification_yes",axis=1)
depe_y=dataset["classification_yes"]

In [7]:
#Give input and output to RFE best algorithm, 5 no of cloumns accept 
value_x,column=RC.rfe_features(inde_x,depe_y,5)

In [8]:
print(column)
#These input columns are selected by the RFE

['sc' 'pcv' 'sg_c' 'sg_d' 'pe_yes']

In [9]:
acclog=[]
accsvc=[]
accdes=[]
accrf=[]

In [10]:
#In value_x have more then one RFE result in list format, so give it loop get the result one by one.
#one model came and went to train and test, check in other models and give result
for i in value_x:
    x_train, x_test, y_train, y_test=RC.split_scaler(i,depe_y)
    
    classifier,Accuracy,report,x_test,y_test,cm=RC.Logistic(x_train,y_train,x_test,y_test)
    acclog.append(Accuracy)
    
    classifier,Accuracy,report,x_test,y_test,cm=RC.svc_linear(x_train,y_train,x_test,y_test)  
    accsvc.append(Accuracy)
    
    classifier,Accuracy,report,x_test,y_test,cm=RC.Decision(x_train,y_train,x_test,y_test)  
    accdes.append(Accuracy)
    
    classifier,Accuracy,report,x_test,y_test,cm=RC.random(x_train,y_train,x_test,y_test)  
    accrf.append(Accuracy)

In [11]:
#It store the 4 type of algorithms scores
accsvc

[0.975, 0.9833333333333333, 0.975, 0.975]

In [12]:
result=RC.rfe_classification(acclog,accsvc,accdes,accrf)

In [13]:
result

                Linear       SVC DecisionTree    Random
Linear           0.975     0.975        0.975     0.975
SVC           0.983333  0.983333     0.983333  0.983333
DecisionTree     0.975     0.975     0.941667  0.958333
Random           0.975     0.975     0.966667  0.983333