In [1]:
import pandas as pf
from RFE_regression import RFE_regression
rfe_re=RFE_regression()

In [2]:
data_set=pf.read_csv("prep.csv")
data_set

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
data_set.isna().sum()
#No null values found

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [4]:
#data preprocessing
dataset=pf.get_dummies(data_set,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,False,False,False,False,False,True,False,False,True
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,False,False,True,True,False,True,False,True,True
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,False,False,True,True,False,False,False,False,True
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,False,False,True,True,False,True,False,True,True
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,False,False,False,False,False,True,False,False,False

In [5]:
#input and output split
inde_x=dataset.drop("classification_yes",axis=1)
depe_y=dataset["classification_yes"]

In [6]:
#Give input and output to RFE best algorithm, 5 no of cloumns accept 
value_x,column=rfe_re.rfe_feature(inde_x,depe_y,5)

LinearRegression()
SVR(kernel='linear')
DecisionTreeRegressor(random_state=0)
RandomForestRegressor(n_estimators=10, random_state=0)

In [7]:
acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

In [8]:
#In Vlaue_x it store the all RFE model in list data type, so we have that list data one by one to predict the value
#Using the loop we get the model one by one, one model came and went to train and test, check in other models and give result
for i in value_x:
    x_train,x_test,y_train,y_test=rfe_re.split_scaler(i,depe_y)
    r2_lin=rfe_re.Linear(x_train,y_train,x_test,y_test)
    acclin.append(r2_lin)
    
    r2_sl=rfe_re.svm_linear(x_train,y_train,x_test,y_test)    
    accsvml.append(r2_sl)
    
    r2_NL=rfe_re.svm_NL(x_train,y_train,x_test,y_test)
    accsvmnl.append(r2_NL)
    
    r2_d=rfe_re.Decision(x_train,y_train,x_test,y_test)
    accdes.append(r2_d)
    
    r2_r=rfe_re.random(x_train,y_train,x_test,y_test)
    accrf.append(r2_r)

In [9]:
result=rfe_re.rfe_regression(acclin,accsvml,accdes,accrf)

In [10]:
result

                Linear      SVRl DecisionTree    Random
Linear        0.622096  0.485375     0.786573  0.786705
SVRl          0.616518  0.486731     0.784326  0.784605
DecisionTree  0.693117  0.662735     0.895467  0.715556
Random        0.699339  0.672963     0.906123  0.864853

In [ ]:
#we got best results in random forest

In [12]:
print(column)
#These input columns are selected by the RFE

['al' 'hrmo' 'rc' 'sg_c' 'sg_d']

In [11]:
#This will show the all algorithm with RFE
for i in value_x:
    print("All algorithm one by one ",i)
#Totaly we have 5 algorithms in RFE stored input

All algorithm one by one  [[0. 1. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 ...
 [0. 1. 0. 0. 1.]
 [0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0.]]
All algorithm one by one  [[1. 0. 0. 1. 0.]
 [1. 0. 0. 1. 0.]
 [0. 0. 0. 1. 0.]
 ...
 [1. 0. 0. 1. 1.]
 [0. 0. 0. 1. 1.]
 [0. 0. 0. 1. 0.]]
All algorithm one by one  [[ 57.48210526  12.51815562   4.70559701   1.           0.        ]
 [ 22.          10.7          4.70559701   1.           0.        ]
 [ 23.          12.           4.70559701   0.           0.        ]
 ...
 [115.           9.1          3.4          1.           0.        ]
 [ 80.           8.5          4.70559701   0.           0.        ]
 [ 49.          16.3          4.9          0.           0.        ]]
All algorithm one by one  [[ 3.         12.51815562  4.70559701  1.          0.        ]
 [ 2.         10.7         4.70559701  1.          0.        ]
 [ 1.         12.          4.70559701  0.          0.        ]
 ...
 [ 3.          9.1         3.4         1.          0.        ]
 [ 0.          8.5         4.70559701  0.          0.        ]
 [ 0.         16.3         4.9         0.          0.        ]]