In [1]:
import pandas as pd

## 1. Data collection

In [2]:
Data=pd.read_csv("insurance_pre.csv")
Data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
Data_set=pd.get_dummies(Data, drop_first=True)
Data_set

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
Data_set.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

## 2. Input and Output split

In [5]:
Independent=Data_set[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=Data_set[['charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

## 3.Split train and test data

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent, Dependent, test_size=0.30 , random_state=0)

## 4. Model creation

In [8]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.6.0-py3-none-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.0 in c:\users\smani\anaconda3\lib\site-packages (from lightgbm) (1.23.5)
Requirement already satisfied: scipy in c:\users\smani\anaconda3\lib\site-packages (from lightgbm) (1.10.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-4.6.0

In [66]:
from lightgbm import LGBMRegressor
re=LGBMRegressor(n_estimators=100, objective='regression',boosting_type='gbdt',random_state=42)
re.fit(x_train,y_train)

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000125 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 5
[LightGBM] [Info] Start training from score 13232.916456

LGBMRegressor(objective='regression', random_state=42)

In [67]:
y_pred=re.predict(x_test)

## 5. Evalution metric

In [68]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [69]:
r_score

0.86603193419773

## 6.Save the best model

In [70]:
import pickle
new_file="Final_model_LGBoost.sav"

In [71]:
pickle.dump(re,open("Final_model_LGBoost.sav",'wb'))

In [72]:
load=pickle.load(open("Final_model_LGBoost.sav",'rb'))
#We need to enter the value based on the Independent variable which is in input split
result=load.predict([[19,27.900,0,0,1]])

In [73]:
result

array([17506.89176097])

In [74]:
print(float(result))

17506.89176097005