### 1. Data collection

In [1]:
import pandas as pd

In [2]:
Data_set=pd.read_csv("CKD.csv")
Data_set

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
Data=pd.get_dummies(Data_set,drop_first=True)
Data

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
#above data we can't able to find all columns so we using this code to view all columns
sample=pd.set_option('display.max_columns',None)
print(Data.head())

   age         bp   al   su         bgr         bu        sc         sod  \
0  2.0  76.459948  3.0  0.0  148.112676  57.482105  3.077356  137.528754
1  3.0  76.459948  2.0  0.0  148.112676  22.000000  0.700000  137.528754
2  4.0  76.459948  1.0  0.0   99.000000  23.000000  0.600000  138.000000
3  5.0  76.459948  1.0  0.0  148.112676  16.000000  0.700000  138.000000
4  5.0  50.000000  0.0  0.0  148.112676  25.000000  0.600000  137.528754

        pot       hrmo        pcv            wc        rc  sg_b  sg_c  sg_d  \
0  4.627244  12.518156  38.868902   8408.191126  4.705597     0     1     0
1  4.627244  10.700000  34.000000  12300.000000  4.705597     0     1     0
2  4.400000  12.000000  34.000000   8408.191126  4.705597     0     0     0
3  3.200000   8.100000  38.868902   8408.191126  4.705597     0     0     1
4  4.627244  11.800000  36.000000  12400.000000  4.705597     0     1     0

   sg_e  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  dm_yes  \
0     0           1          0            0           0        0       0
1     0           1          1            0           0        0       0
2     0           1          1            0           0        0       0
3     0           1          1            0           0        0       0
4     0           1          1            0           0        0       0

   cad_yes  appet_yes  pe_yes  ane_yes  classification_yes
0        0          1       1        0                   1
1        0          1       0        0                   1
2        0          1       0        0                   1
3        0          1       0        1                   1
4        0          1       0        0                   1

### 2.Split the input and output

In [5]:
Independent=Data[["age","bp","al","su","bgr","bu","sc","sod","pot","hrmo","pcv","wc","rc","sg_b","sg_c","sg_d","sg_e","rbc_normal","pc_normal","pcc_present","ba_present","htn_yes","dm_yes","cad_yes","appet_yes","pe_yes","ane_yes"]]
Independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597,0,1,0,0,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,12300.000000,4.705597,0,1,0,0,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,8408.191126,4.705597,0,0,0,0,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,8408.191126,4.705597,0,0,1,0,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,12400.000000,4.705597,0,1,0,0,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,9800.000000,4.400000,0,0,0,0,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,8408.191126,4.705597,0,1,0,0,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,9200.000000,3.400000,0,1,0,0,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,8408.191126,4.705597,0,0,0,0,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,8500.000000,4.900000,0,0,0,0,1,1,0,0,0,0,0,1,0,0

In [6]:
Dependent=Data[["classification_yes"]]
Dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [7]:
Data["classification_yes"].value_counts()
#Data set was imbalance data

1    249
0    150
Name: classification_yes, dtype: int64

### 3.Split the train and test data

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent,Dependent, test_size=0.30, random_state=0)

In [9]:
x_test

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc,sg_b,sg_c,sg_d,sg_e,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
132,46.0,70.0,0.0,0.0,100.000000,47.0,0.5,142.000000,3.500000,16.400000,43.000000,5700.000000,6.500000,1,0,0,0,1,1,0,0,0,0,0,1,0,0
309,66.0,90.0,2.0,0.0,153.000000,76.0,3.3,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597,0,0,1,0,1,1,0,1,0,0,0,0,0,0
334,69.0,70.0,0.0,0.0,83.000000,42.0,1.2,139.000000,3.700000,16.200000,50.000000,9300.000000,5.400000,0,0,0,0,1,1,0,0,0,0,0,1,0,0
196,55.0,100.0,1.0,4.0,297.000000,53.0,2.8,139.000000,4.500000,11.200000,34.000000,13600.000000,4.400000,0,0,1,0,1,1,0,0,1,1,0,1,0,0
246,60.0,90.0,2.0,0.0,105.000000,53.0,2.3,136.000000,5.200000,11.100000,33.000000,10500.000000,4.100000,0,1,0,0,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,57.0,90.0,5.0,0.0,148.112676,322.0,13.0,126.000000,4.800000,8.000000,24.000000,4200.000000,3.300000,0,0,1,0,0,0,0,1,1,1,1,0,1,1
259,61.0,60.0,0.0,0.0,108.000000,75.0,1.9,141.000000,5.200000,9.900000,29.000000,8400.000000,3.700000,1,0,0,0,1,1,0,0,1,1,0,1,0,1
49,30.0,60.0,0.0,0.0,120.000000,31.0,0.8,150.000000,4.600000,13.400000,44.000000,10700.000000,5.800000,1,0,0,0,1,1,0,0,0,0,0,1,0,0
238,59.0,60.0,0.0,0.0,113.000000,23.0,1.1,139.000000,3.500000,15.300000,54.000000,6500.000000,4.900000,0,0,0,0,1,1,0,0,0,0,0,1,0,0
342,70.0,60.0,0.0,0.0,120.000000,40.0,0.5,140.000000,4.600000,16.000000,43.000000,4500.000000,4.900000,0,0,0,0,1,1,0,0,0,0,0,1,0,0

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_test

### 4.Model crearion

In [10]:
#CategoricalNB

from sklearn.naive_bayes import CategoricalNB

from sklearn.model_selection import GridSearchCV

param_grid = {'alpha': [0.1, 1.0]}

grid=GridSearchCV(CategoricalNB(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')

grid.fit(x_train,y_train)


y_pred=grid.predict(x_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

from sklearn.metrics import classification_report
cl=classification_report(y_test,y_pred)

from sklearn.metrics import roc_auc_score
roc_1=roc_auc_score(y_test,grid_1.predict_proba(x_test)[:,-1])

print("---> Naive Bayes - BernoulliNB  using Grid <---")
print()
print("Best value in Grid search :",grid_1.best_params_)
print()
print("Validaction values")
print(cm_1)
print()
print("Classifiaction reports")
print(cl_1)
print("roc and auc value :",roc_1)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

C:\Users\smani\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [nan nan]
  warnings.warn(
C:\Users\smani\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

IndexError: index 90 is out of bounds for axis 1 with size 84